.page-title
  dashboard
.op-box
  .op-box-items
    %a{:href => '/hosts/list'} list hosts
    %br
    %a{:href => '/maintainers/list'} list maintainers
    %br
    %br
    %a{:href => '/maintainers/new'} add new maintainer
    %br
    %a{:href => '/hosts/farm'} farm new host

.search-field
  %b
    hostname?
  %span
    = text_field(:id => 'searchbox')
    %img{:src =>'images/spinner.gif', :id => 'spinner', :style => 'display: none'}

= " <script type='text/javascript'> new Form.Element.Observer('searchbox', 2, function(element, value) { Element.show('spinner'); new Ajax.Updater('search-results', '/hosts/find/?hostname=' + value, {  asynchronous:true, evalScripts:true, onSuccess:function(request){Element.hide('spinner')} }) }) </script> "

#search-results
  .footer
    a
    %strong
      %a{:href => 'http://github.com/rubiojr/mech_farmer'} Mech Farmer
    UI
