.op-box
  yes sir? 
  .op-box-items
    %a{:href => '/items/hosts'} list hosts
    %br
    %a{:href => '/mainainers/list'} list maintainers
    %br
    %br
    %a{:href => '/maintainers/list'} add new maintainer
    %br
    %a{:href => '/items/farm'} farm new host

.search-field
  = text_field

