body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #F6F6F6;
  margin: 0px;
  border: 0px;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html {
  height: 100%;
  margin: 0px;
  border: 0px;
}

.content {
  background-color: #F6F6F6;
}

h1 {
  font-size: 28px;
  color: #c55;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 15px;
  color: #999;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h3 {
  color: #4d9b12;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  padding: 5px;
  margin-top: 5px;
}

p {
  color: #000;
  line-height: 20px;
  padding: 5px;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #4d9b12;
  text-decoration: none;
}
#footer-container {
  clear: both;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
}
.right {
  float: right;
  font-size: 100%;
  margin-top: 5px;
  color: #999;
}
.left {
  float: left;
  font-size: 100%;
  margin-top: 5px;
  color: #999;
}
#main-container ul {
  margin-left: 3.0em;
}

.title-box {
  background-color:  black;
  color: white;
}

.main-title a{
  font-size: 28px;
  color: #FFD116;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 5px;
}

.main-subtitle {
  font-weight: bold;
  padding-left: 6px;
}

.footer {
  position: absolute;
  bottom: 10px;
  text-align:center;
  width: 100%; 
}

.footer a {
  border-bottom: 1px dotted;
}

.op-box {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #c55;
}

.op-box-items {
  padding-top: 4px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: black;
}

.search-field {
  padding-top: 40px;
  text-align: center;
}

.maintainers {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
}

.maintainer-item {
  padding: 8px;
  margin: 8px;
  text-align: left;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.hosts {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
}

.host-box {
  padding: 8px;
  margin: 10px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
}

.host-element {
  padding: 4px;
}

.host-element-name {
  font-weight: bold;
}

.host-element-value {
  padding-left: 5px;
}

.page-title {
  background-color: #FFD116;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: black;
  font-family: Arial, Verdana, sans-serif;
  padding-bottom: 2px;
  padding-top: 2px;
}

.hostlist-count {
  text-align:center;
  padding-top: 5px;
}
