.maintainer-item
  %b
    =maintainer.full_name
  %br
  email:
  =maintainer.email
  %br
  teams:
  =maintainer.teams
  %br
  nickname:
  =maintainer.nickname
  %br
  ssh pubkeys:
  =maintainer.ssh_pubkeys
